{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Home
{% endblock %}

{% block main %}

	<div class="container">
		<div class="infosHome">
			<p>Date du jour:
				{{ "now"|date("d/m/Y") }}</p>
			<p>Participant :
				{{ app.user.firstName|capitalize }}
				{{ app.user.lastName|capitalize|slice(0, 1) }}.</p>
		</div>
		<div>
			<p>Filtrer les sorties :</p>
			<div class="row">
				<form action="" method="get" class="form col-md-12">

					<div class="col-md-4">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="campus">Campus :
								</label>

								<select class="form-control" name="campus" id="campus">
									{% for campus in campuss %}
										<option value={{ campus.id }}>{{ campus.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group col-md-12">
								<label for="search">Le nom de la sortie contient :
								</label>

								<input class="form-control input-form" type="text" id="search" placeholder="Rechercher" aria-label="Search">
							</div>
						</div>
					</div>

					<div class="col-md-4 ">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="startDate">Entre le :
								</label>
								<input class="form-control" type="date" value="" id="startDate">
							</div>
							<div class="form-group col-md-12">
								<label for="endDate">et le :
								</label>
								<input class="form-control" type="date" value="" id="endDate">
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-row">
							<div class="form-check col-md-12">

								<input class="checkbox-input form-check-input" type="checkbox" value="" checked id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									Sorties dont je suis l'organisateur/trice
								</label>

								<input class="checkbox-input form-check-input" type="checkbox" value="" checked id="defaultCheck2">
								<label class="form-check-label" for="defaultCheck2">
									Sorties auxquelles je suis inscrit/e
								</label>

								<input class="checkbox-input form-check-input" type="checkbox" value="" checked id="defaultCheck3">
								<label class="form-check-label" for="defaultCheck3">
									Sorties auxquelles je ne suis pas inscrit/e
								</label>

								<input class="checkbox-input form-check-input" type="checkbox" value="" id="defaultCheck4">
								<label class="form-check-label" for="defaultCheck4">
									Sorties passées
								</label>

							</div>
						</div>
						<button type="submit" class="input-send bottom">Rechercher</button>
					</div>

				</form>
			</div>

			<div class="row margin-top-bot">
				<div class="col-md-12 text-left table-scroll">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Nom</th>
								<th>Date</th>
								<th>Clôture</th>
								<th>Inscrits</th>
								<th>Etat</th>
								<th>Participation</th>
								<th>Organisateur</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for trip in trips %}
							{% set difference = date( "now"|date() ).diff(date(trip.start_date)) %}
								{% if difference.days < 30 %}

									<tr id="{{ trip.id }}">
										<td>{{ trip.name }}</td>
										<td>{{ trip.start_date|date("d/m/Y à H:i") }}</td>
										<td>{{ trip.end_date|date("d/m/Y") }}</td>
										<td>{{ trip.nbInscrits }}/{{ trip.nb_max_inscription }}</td>
										<td>{{ trip.etat }}</td>
										<td style="text-align:center;">
											{% if trip.id_tripB != null %}
												X
											{% endif %}
										</td>
										<td>
											<a role="button" href="{{ path('user_profile', {'id': trip.leader_id}) }}" class="btn">{{ trip.first_name|capitalize }}
												{{ trip.last_name|capitalize|slice(0, 1) }}.</a>
										</td>
										<td>
											{% if app.user.id == trip.leader_id %}
												<a role="button" href="{{ path('modify_trip', {'id': trip.id}) }}" class="btn btn-success">
													<i class="fas fa-pencil-alt"></i>
												</a>
											{% else %}
												<a role="button" href="{{ path('trip_full_display', {'id': trip.id}) }}" class="btn btn-success">
													<i class="fas fa-eye"></i>
												</a>
											{% endif %}

											&nbsp;

											{% if (app.user.id == trip.leader_id) and (trip.avancement_id == 1) %}
												<a role="button" href="{{ path('trip_publish', {'id': trip.id}) }}">
													Publier
												</a>
											{% elseif ((app.user.id == trip.leader_id) and (trip.avancement_id != 1) and (trip.avancement_id != 6)) or is_granted('ROLE_ADMIN') %}
												<a role="button" href="{{ path('trip_cancel', {'id': trip.id}) }}" class="btn btn-danger">
													<i class="fas fa-trash-alt"></i>
												</a>
											{% elseif ((app.user.id != trip.leader_id) and (trip.avancement_id != 1) and (trip.avancement_id != 3) and (trip.avancement_id != 5) and (trip.avancement_id != 6) and (trip.id_tripB == null)) %}
												<a role="button" href="{{ path('trip_inscription', {'id': trip.id}) }}">
													M'inscrire
												</a>
											{% elseif ((app.user.id != trip.leader_id) and (trip.avancement_id != 1) and (trip.avancement_id != 5) and (trip.avancement_id != 6) and (trip.id_tripB != null)) %}
												<a role="button" href="{{ path('trip_un_inscription', {'id': trip.id}) }}">
													Me désister
												</a>
											{% endif %}
										</td>
									</tr>

								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<a role="button" href="{{ path('create_trip', {'id': app.user.id}) }}" class="btn-create-trip">
				Créer une sortie
			</a>

		</div>
	</div>
{% endblock %}
