.card {
    position: relative;
    width: 100%;
    border-style: none;
    perspective: 1000px;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card-img {
    transition: all 1s ease;
  }
  
  img {
    display: block;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card:hover .card-img {
    transform: scale(1.1);
  }
  
  .card div:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  
  .card div {
    display: block;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-back {
    background-color: #292929;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .card-back p{
      color: whitesmoke;
  }

  .card-front {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
  }
  
  .btn-flip {
    position: absolute;
    bottom: 0%;
    visibility: hidden;
    color: #ffd700;
  }
  
  .right {
    right: 0%;
  }
  
  .left {
    left: 0%;
  }

  .btn-flip:hover {
    color: #ffff00 !important;
  }

  .card:hover .btn-flip {
    visibility: visible;
  }
  
  /* commun */
  
  .img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .infos-profile{
    box-shadow: none !important;
    text-align: left;
    width: 75%;
    height: 50%;
  }