.page-footer{
    background-color: #292929 !important;
    color: white;
}

.page-footer a{
    color: white;
    text-decoration: none;
}

.page-footer a:hover{
    color: #FFD700;
}

.footer-copyright{
    background-color: #222222 !important;
    color: whitesmoke;
}

.footer-copyright a{
    color: whitesmoke;
    text-decoration: none;
}

#footer{
    padding-top: 1px;
}