.nav-link{
    color: #FFD700 !important;
    font-weight : bold;
}

.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler{
    border-color: black !important;
}

.span-hamburger{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: block;
    border-radius: 5px;
}

#logo {
    font-size: 30px;
    color: black;
  }