@import url(footer.css);
@import url(nav.css);
@import url(card.css);

.input-form {
  border: none !important;
  border-bottom: 1px solid #c0c0c0 !important;
  border-radius: 0 !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-form:focus {
  background-color: #e6e8e8;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-login{
    height: 100vh;
}

.container {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

body {
  overflow-x: hidden;
  color: whitesmoke;
}

p {
  color: black;
}

h2, h1{
    color: black;
    margin-bottom: 15px;
}


ul li {
  color: red;
}

.infosHome{
    text-align: right;
}

label{
    color: black !important;
}

.form{
    display: flex;
    justify-content: space-around;
}

.checkbox-input{
    display: block;
}

.bottom{
    position: absolute;
    bottom: 0%;
}

.margin-top-bot{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-create-trip{
    background-color: #292929;
    color: #FFD700;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-create-trip:hover{
    color: #ffff00 !important;
    text-decoration: none;
}

.table-scroll{
  height: 60vh !important;
  overflow-y: scroll !important;
}

.textarea-form{
  height: 150px !important;
}