{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Créer une sortie
{% endblock %}

{% block main %}

	<div class="container">
		{{ form_start(tripForm) }}
		<div class="row">

			<div class="col-md-6">

				<div class="form-row">
					<div class="form-group col-md-12">
						{{ form_row(tripForm.name) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<p>Date de la sortie :</p>
						{{ form_row(tripForm.startDate) }}
					</div>
					<div class="form-group col-md-6">
						<p>Date limite d'inscription :</p>
						{{ form_row(tripForm.endDate) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form_row(tripForm.duration) }}
					</div>
					<div class="form-group col-md-6">
						{{ form_row(tripForm.nbMaxInscription) }}
					</div>
				</div>


			</div>

			<div class="col-md-6">

				<div class="form-row">
					<div class="form-group col-md-12">
						{{ form_row(tripForm.description) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
					<p>Lieu :</p>
						{{ form_row(tripForm.place) }}
					</div>
				</div>

			</div>

			<div class="form-row">
				<button type="submit" class="input-send">Modifier</button>
			</div>


		</div>
		{{ form_end(tripForm) }}
	</div>

{% endblock %}
