{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Sortie
{% endblock %}

{% block main %}

	<div class="container text-center">
		<div class="row">
			<div class="col-md-12 ">
				<h2>Annuler une sortie</h2>
				<div class="center">
					{% for trip in trip %}
						<div class="row">

							<div class="col-md-6">
								<p>Nom de la sortie :
									{{ trip.name }}
								</p>

								<p>Date de la sortie :
									{{ trip.start_date|date("d/m/Y à H:i") }}
								</p>

								<p>Clôture :
									{{ trip.end_date|date("d/m/Y") }}
								</p>

								<p>Nombres d'inscrits :
									{{ trip.nbInscrits }}/{{ trip.nb_max_inscription }}</p>

								<p>Lieu :
									{{ trip.street }}
									{{ trip.postal_code }}
									{{ trip.placeName }}
								</p>
							</div>

							<div class="col-md-6">
								<p>Motif :
									{{ form_start(tripForm) }}
                                    {{ form_row(tripForm._token) }}
									{{ form_row(tripForm.cancellationReason) }}
									<div class="form-row">
										<button type="submit" class="input-send">Annuler la sortie</button>
									</div>
									{{ form_end(tripForm, {'render_rest': false}) }}
								</p>
							</div>

						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>

{% endblock %}
