{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Sortie
{% endblock %}

{% block main %}

	<div class="container text-center">
		<div class="row">
			<div class="col-md-6 ">
				<h2>Descriptif de la sortie</h2>
				<div class="text-left">
					{% for trip in trip %}
						<div class="row">
							<div class="col-md-6">
								<p>Nom :
									{{ trip.name }}
								</p>

								<p>Date :
									{{ trip.start_date|date("d/m/Y à H:i") }}
								</p>

								<p>Clôture :
									{{ trip.end_date|date("d/m/Y") }}
								</p>

								<p>Nombres d'inscrits :
									{{ trip.nbInscrits }}/{{ trip.nb_max_inscription }}</p>

								<p>Durée :
									{{ trip.duration }} minutes
								</p>

							</div>
							<div class="col-md-6">
								<p>Description :
									{{ trip.description }}
								</p>

								<p>Lieu :
									{{ trip.placeName }}
								</p>

								<p>Rue :
									{{ trip.street }}
								</p>

								<p>Code postal :
									{{ trip.postal_code }}
								</p>

								<p>Latitude :
									{{ trip.latitude }}
								</p>

								<p>Longitude :
									{{ trip.longitude }}
								</p>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-md-6 ">
				<h2>Liste des participants</h2>
				<div class="col-md-12 text-left table-scroll">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Pseudo</th>
								<th>Nom</th>
							</tr>
						</thead>
						<tbody>
							{% for participant in participants %}
								<tr>
									<td>{{ participant.username|upper }}</td>
									<td>
										{{ participant.first_name|capitalize }}
										{{ participant.last_name|upper }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
