{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Gestion des campus
{% endblock %}

{% block main %}

	<div class="container text-center">
		<h1>campus</h1>
		<div class="form-row">

			<div class="col-md-8 text-left table-scroll">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Nom</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for campus in campuss %}
							<tr>
								<td>{{ campus.name|capitalize }}</td>
								<td>
									<a role="button" href="{{ path('campus_delete', {'id': campus.id}) }}" class="btn btn-danger">
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="col-md-4" style="border-left:solid 1px black;">
				{{ form_start(campusForm) }}

				<div class="form-row justify-content-center">
					<div class="form-group col-md-8">
						{{ form_row(campusForm.name) }}
					</div>
				</div>


				<div class="form-row center">
					<button type="submit">Ajouter</button>
				</div>

				{{ form_end(campusForm) }}
			</div>

		</div>
	</div>

{% endblock %}
