{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Gestion des villes{% endblock %}

{% block main %}

	<div class="container text-center">
    	<h1>villes</h1>
    	<div class="form-row">
    	
    		<div class="col-md-8 text-left table-scroll">
    			<table class="table table-striped">
        			<thead class="thead-dark">
          				<tr>
            				<th>Nom</th>
                            <th>Code postal</th>
             				<th>Action</th>
          				</tr>
        			</thead>
    				<tbody>
    				{% for town in towns %}
          				<tr>
            				<td>{{ town.name|capitalize }}</td>
                            <td>{{ town.postalCode }}</td>
            				<td>
                				<a role="button" href="{{ path('towns_delete', {'id': town.id}) }}" class="btn btn-danger">
                				<i class="fas fa-trash-alt"></i>
                				</a>  
            				</td>
          				</tr>
          			{% endfor %}
          			</tbody>
    			</table>
    		</div>
    		
    		<div class="col-md-4" style="border-left:solid 1px black;">
    			{{ form_start(townForm) }}

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        {{ form_row(townForm.name) }}
                    </div>
                    <div class="form-group col-md-8">
                        {{ form_row(townForm.postalCode) }}
                    </div>
                </div>


                <div class="form-row center">
                    <button type="submit">Ajouter</button>
                </div>

                {{ form_end(townForm) }}
    		</div>
    		
    	</div>
	</div>
	
{% endblock %}