{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Gestion des villes
{% endblock %}

{% block main %}

	<div class="container">
		<h1>Utilisateurs</h1>
		<div class="form-row margin-top-bot">

			<div class="col-md-12 text-left table-scroll">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Pseudo</th>
							<th>email</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{ user.lastName|upper }}</td>
								<td>{{ user.firstName|capitalize }}</td>
								<td>{{ user.username }}</td>
								<td>{{ user.email }}</td>
								<td>
									<a role="button" href="{{ path('users_delete', {'id': user.id}) }}" class="btn btn-danger">
										<i class="fas fa-user-times"></i>
									</a>
									{% if user.active == 1 %}
										<a role="button" href="{{ path('users_desactive', {'id': user.id}) }}" class="btn btn-warning">
											<i class="fas fa-lock"></i>
										</a>
									{% else %}
										<a role="button" href="{{ path('users_active', {'id': user.id}) }}" class="btn btn-success">
											<i class="fas fa-lock-open"></i>
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>

		<a role="button" href="{{ path('admin_create_user') }}" class="btn btn-create-trip">Créer un nouvel utilisateur</a>

	</div>


{% endblock %}
