<!-- Footer -->
<footer
	id="footer" class="page-footer font-small bg-dark unique-color-dark">

	<!-- Footer Links -->
	<div
		class="container text-center text-md-left mt-5">

		<!-- Grid row -->
		<div
			class="row mt-3">

			<!-- Grid column -->
			<div
				class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

				<!-- Links -->
				<h4 class="text-uppercase font-weight-bold">Navigation</h4>
				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
				<p>
					<a href="{{ path('home') }}">&#9658 Accueil</a>
				</p>
				<p>
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<a href="{{ path('user_account_modification') }}">&#9658 Mon compte</a>
					{% endif %}
				</p>
				<p>
					<a href="{{ path('logout') }}">&#9658 Deconnexion</a>
				</p>

			</div>
			<!-- Grid column -->


		</div>
		<!-- Grid row -->

	</div>
	<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">&copy;
		{{ "now"|date("Y") }}
		Copyright : &nbsp
		<a href="#">Sortir.com</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->
