<nav id="myNav" class="navbar navbar-expand-md navbar-dark">

	<a class="navbar-brand" id="logo" href="{{ path('home') }}">Sortir.com</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon span-hamburger"></span>
		<span class="navbar-toggler-icon span-hamburger"></span>
		<span class="navbar-toggler-icon span-hamburger"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('home') }}">Accueil</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ path('user_account_modification') }}">Mon compte</a>
			</li>

			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="caret">Gestion</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('admin_towns') }}">Villes</a>
								<a class="dropdown-item" href="{{ path('admin_campus') }}">Campus</a>
								<a class="dropdown-item" href="{{ path('admin_users') }}">Utilisateurs</a>
							</li>
						</ul>
					</a>
				</li>
			{% endif %}
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout') }}">
						<i title="Deconnexion" class="fas fa-sign-out-alt"></i>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>

</nav>
