{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Mon compte
{% endblock %}

{% block main %}

	<div class="container ">
		<div class="row">
			{% if app.user.picture != null %}

				<div class="col-md-6">
					<div class="text-center">
						<div id="{{ app.user.id }}" class="card">
							<div class="card-front">

								<img class="img-fluid img-fit card-img" src="{{ asset('img/' ~ app.user.picture ) }}" alt="{{ app.user.username }}">

								<button onclick="flip(this.value)" value="{{ app.user.id }}" class="btn btn-flip left">
									<i class="fas fa-share fa-2x"></i>
								</button>

							</div>
							<div class="card-back">
								<p>{{ app.user.firstName }}
									<br>
									{{ app.user.lastName }}
								</p>
								<button onclick="flip(this.value)" value="{{ app.user.id }}" class="btn btn-flip right">
									<i class="fas fa-share fa-2x"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-md-6">
				{{ form_start(registerForm) }}

				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form_row(registerForm.username) }}
					</div>
					<div class="form-group col-md-6">
						{{ form_row(registerForm.email) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form_row(registerForm.firstName) }}
					</div>
					<div class="form-group col-md-6">
						{{ form_row(registerForm.lastName) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						{{ form_row(registerForm.telephone) }}
					</div>
					<div class="form-group col-md-6">
						{{ form_row(registerForm.picture) }}
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-12">
						{{ form_row(registerForm.password) }}
					</div>
				</div>

				<div class="form-row">
					<button type="submit" class="input-send">Modifier</button>
				</div>

				{{ form_end(registerForm) }}
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function flip(id) {
console.log(id);
$('#' + id).toggleClass('flipped');
}
	</script>
{% endblock %}
