{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Login
{% endblock %}

{% block header %}{% endblock %}

{% block main %}


	<div class="form-row">
		<div class="center center-login col-md-12 text-center">
			<form method="post">
				<div class="form-group">
					<input type="text" class="form-control input-form" name="_username" id="username" placeholder="Pseudo">
					<input type="password" class="form-control input-form" name="_password" id="password" placeholder="Mot de passe">
				</div>
				<div class="form-group">
					<input type="checkbox" id="remember_me" name="_remember_me" checked/>
					<label for="remember_me">Se souvenir de moi</label>
				</div>
				<div class="form-group">
					<button class="input-send" type="submit">Se connecter
						<i class="fas fa-sign-in-alt"></i>
					</button>
				</div>
			</form>
		</div>
	</div>


{% endblock %}

{% block footer %}{% endblock %}
