{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Mon compte
{% endblock %}

{% block main %}
	{% for user in user %}
		<div class="container text-center ">
			<h2>Profil de :


				{{ user.username }}</h2>
			<div class="row center">

				<div class="col-md-6 ">
					<div class="text-center">
						<div id="{{ user.id }}" class="card">
							<div class="card-front">

								<img class="img-fluid img-fit card-img" src="{{ asset('img/' ~ user.picture ) }}" alt="{{ user.username }}">

								<button onclick="flip(this.value)" value="{{ user.id }}" class="btn btn-flip left">
									<i class="fas fa-share fa-2x"></i>
								</button>

							</div>
							<div class="card-back">
								<div class="infos-profile">
									<p>Prénom :
										{{ user.first_name }}
										<br>
										Nom :
										{{ user.last_name }}
										<br>
										<i class="fas fa-phone-alt"></i>&nbsp  :&nbsp
										{{ user.telephone }}
										<br>
										<i class="fas fa-envelope mr-3"></i>:&nbsp
										{{ user.email }}
										<br>
										Campus :
										{{ user.name }}
									</p>
								</div>
								<button onclick="flip(this.value)" value="{{ user.id }}" class="btn btn-flip right">
									<i class="fas fa-share fa-2x"></i>
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script type="text/javascript">
			function flip(id) {
console.log(id);
$('#' + id).toggleClass('flipped');
}
		</script>
	{% endfor %}
{% endblock %}
